
        body {
            font-family: Arial, sans-serif;
            background-color: #f7f7f7;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #343a40;
            color: #fff;
            padding: 20px 0;
            text-align: center;
        }

        h1 {
            font-size: 36px;
        }

        nav {
            background-color: #444;
            color: #fff;
            padding: 10px 0;
            text-align: center;
        }

        nav ul {
            list-style-type: none;
            padding: 0;
        }

        nav li {
            display: inline;
            margin-right: 20px;
        }

        .container {
            text-align: center;
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        .product {
            text-align: center;
            margin: 20px 0;
        }

        .product img {
            max-width: 100%;
            height: auto;
        }

        footer {
            background-color: #343a40;
            color: #fff;
            text-align: center;
            padding: 10px 0;
        }

        li a:hover {
            color: #e74c3c;
            text-decoration: none;
        }

        #contenido {
            height: auto;
            width: 58%;
            background-color: #362f2f;
            margin: 0.5em;
            display: inline-block;
            border-radius: 5px;
            text-align: center;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            background-color: #b1c4d8;
        }
        
        @media screen and (max-width:700px){
            div,.row {
                flex-direction: column;
            }
        
        body{
            background-color: #434430;
        }
        
        #fueraSeccion,#pie, #contenido,#menu,#encabezado{
            width: 100%;
            margin: 1em;
            border-radius: 5px;
            padding: 0 50px;
            text-align: center;
        }
        
        .encabezado-aside{
        
        text-align: center;
        width: 100%;
        margin-left: 0em;
        
        }
        
        header{
            width: 100%;
        }
        
        
        
        ul {
            display: flex;
            flex-direction: column;
        }
        
        li {
        
        align-items: center;
        margin: 2px;
        
        }
        
        .lista-aside{
        
        display: flex;
        flex-direction: column;
        
        }
        
        }