* {
    font-family: Arial;
}

body {
    text-align: center;
}

.contenedor {
    margin: auto;
    background-color: lemonchiffon;
    width: 1000px;
    height: 880px;
    border: 5px solid black;
}

h1 {
    padding-top: 20px;
}

.nombre {
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
    font-weight: bold;
}

nombre input {
    width: 420px;
    height: 20px;
    margin-left: 20px;
}

.fechaNacimiento {
    padding-top: 20px;
    padding-left: 20px;
    text-align: left;
    font-weight: bold;
}

.fechaNacimiento input {
    width: 150px;
    margin-left: 20px;
    height: 25px;
}

.lugarNacimiento {
    font-weight: bold;
    text-align: right;
    margin-top: -190px;
    padding-right: 350px;
    margin-bottom: 150px;
}

.lugarNacimiento select {
    width: 155px;
    margin-left: 20px;
    height: 25px;
}

.poblacion {
    font-weight: bold;
    text-align: left;
    float: right;
    margin-top: -180px;
    margin-right: 30px;
}

.poblacion input {
    height: 20px;
}

.idiomas {
    text-align: center;
    float: right;
    margin-top: -40px;
    margin-right: 40px;
}

.idiomas li {
    width: 300px;
    height: 210px;
    background-color: rgb(1, 1, 1, .10);
    list-style: none;
}

.idiomas input {
    margin-top: 30px;
    margin-left: 35px;
}

.sexo {
    text-align: left;
    padding-left: 20px;
    padding-top: 30px;
    width: 240px;
}

.sexo li {
    width: 265px;
    height: 60px;
    background-color: rgba(1,1,1,.10);
    list-style: none;
}

.sexo input {
    margin-top: 20px;
    margin-left: 20px;
}

.correo {
    margin-top: 10px;
    width: 230px;
    float: left;
    margin-left: 10px;
    height: 25px;
    color: black;

}

.egresoPrimaria {
    float: left;
    text-align: left;
    padding-top: 20px;
    padding-right: 400px;
    padding-left: 20px;
    font-weight: bold;
}

.egresoPrimaria input {
    margin-left: 40px;
}

.habitos {
    margin-right: 20px;
    text-align: left;
    float: right;
    margin-top: 1000px;
    font-weight: bold;
}

.habitos textarea {
    width: 450px;
}

.ingresos {
    text-align: center;
    float: left;
    margin-top: 60px;
    font-weight: bold;
}

.ingresos input {
    margin-top: 80px;
    width: 400px;
}

.horario {
    font-weight: bold;
    margin-right: 10px;
    float: right;
    margin-top: 5px;
}

.horario input {
    margin-top: 100px;
    max-width: 200px;
}

#botones {
    margin-top: 220px;
    margin-right: 20px;
    width: 190px;
    height: 50px;
    font-weight: bold;
    font-size: large;
}

#listaIngresos {
    font-size: 20px;
    word-spacing: 2.2em;
}